<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asm_mob204_ps10929">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityListSachBanChay"></activity>
        <activity android:name=".ActivityListHoaDon" />
        <activity android:name=".ActivityListHoaDonChiTiet" />
        <activity android:name=".ActivityHoaDonChiTiet" />
        <activity android:name=".ActivityHoaDon" />
        <activity android:name=".ActivityThongKeDoanhThu" />
        <activity android:name=".ActivityListTheLoai" />
        <activity android:name=".ActivityListBook" />
        <activity android:name=".ActivityNguoiDungDetail" />
        <activity android:name=".ActivityThemSach" />
        <activity android:name=".ActivityTheLoai" />
        <activity android:name=".ActivityNguoiDung" />
        <activity android:name=".ActivityListNguoiDung" />
        <activity android:name=".Adapter.NguoiDungAdapter" />
        <activity android:name=".ActivityChangePassword" />
        <activity android:name=".ActivityLogin" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>